<% form_for @grade do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :grade_name, 'Название степени' %><br />
    <%= f.text_field :grade_name, {:size => 50} %>
  </p>
  <p><%= f.submit "Отправить" %></p>
<% end %>

