<% title "Степени" %>

<table>
  <tr>
    <th>Название степени</th>
  </tr>
  <% for grade in @grades %>
    <tr>
      <td><%=h grade.grade_name %></td>
      <td><%= link_to "редактировать", edit_grade_path(grade) %></td>
      <td><%= link_to "удалить", grade, :confirm => 'Уверены?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Добавить степень", new_grade_path %></p>

