<% title "Подобласти" %>

<table>
  <tr>
    <th>Название</th>
  </tr>
  <% for subarea in @subareas %>
    <tr>
      <td><%=h subarea.subarea_name %></td>
      <td><%= link_to "редактировать", edit_subarea_path(subarea) %></td>
      <td><%= link_to "удалить", subarea, :confirm => 'Уверены?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "Добавить подобласть", new_subarea_path %></p>

