<% form_for @area do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :area_name, 'Название области' %><br />
    <%= f.text_field :area_name, {:size => 50} %>
  </p>
  <p><%= f.submit "Отправить" %></p>
<% end %>

