<% title "Области" %>

<table>
  <tr>
    <th>Название области</th>
  </tr>
  <% for area in @areas %>
    <tr>
      <td><%=h area.area_name %></td>
      <td><%= link_to "редактировать", edit_area_path(area) %></td>
      <td><%= link_to "удалить", area, :confirm => 'Уверены?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "добавить область", new_area_path %></p>

