<% form_for @organization do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :organization_name %><br />
    <%= f.text_field :organization_name %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
